<h2>会員一覧</h2>
<table class="table">
  <tbody>
    <tr>
      <th>アイコン</th>
      <th></th>
       <th></th>
    </tr>
    <% users.each do |user| %>
    <tr>
      <td>
        <%= link_to user_path(user.id) do %>
        <%= attachment_image_tag user , :profile_image, format: 'jpeg' , fallback: "users/NoPictureForUsers.png",:size => '60x60' %>
        <p><%= user.name %></p>
        <% end %>
      </td>
      <td>
      </td>
      <td>
        <%= link_to '詳細', user_path(user.id) %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= paginate users %>