<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>編集画面</h2>
       <div class="form-body p-4">
        <%= render 'layouts/resistration_error', resitration: @good %>
      </div>
      <%= form_with model:@good, local:true do |f| %>
        <div class="form-group">
          <%= attachment_image_tag @good, :image,format: 'jpeg' , fallback: "goods/NoPictureForGoods.png",:size => '100x100' %>
        </div>
        <div class="form-group">
          <%= f.attachment_field :image %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
        </end>
        <div class="form-group">
          <%= f.text_area :name %>
        </end>
        <div class="form-group">
          <%= f.label :introduction %>
        </div>
        <div class="form-group">
          <%= f.text_field :introduction %>
        </div>
        <div class="form-group">
          <%= f.submit "更新",class: "btn btn-secondary btn-success" %>
        </div>
      <% end %>
      <%= link_to "一覧", good_path(@good) %> |
      <%= link_to "戻る", goods_path %>
    </div>
  </div>
</div>
