<div class="profile-container">
<h2>会員情報</h2>
<%= link_to attachment_image_tag(user, :profile_image, format: 'jpeg' , fallback: "users/NoPictureForUsers.png",:size => '100x100'),user_path(user) %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>会員名</th>
      <th>
        <%= user.name %>
      </th>
    </tr>
    <tr>
      <th>紹介</th>
      <th>
        <%= user.introduction %>
      </th>
    </tr>
    <% if user.id == current_user.id %>
    <tr>
      <th>ポイント</th>
      <th>
        <%= user.point %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <%= link_to '' , edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block fas fa-user-cog'%>
</div>

<%= render 'layouts/create_new_good_form' , good: good %>
</div>